cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
docutils==0.16
google-api-core==1.21.0
google-api-python-client==1.10.0
google-auth==1.19.2
google-auth-httplib2==0.0.4
googleapis-common-protos==1.52.0
httplib2==0.18.1
idna==2.10
joblib==0.16.0
lockfile==0.12.2
luigi==3.0.0
numpy==1.19.0
pkg-resources==0.0.0
protobuf==3.12.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
python-daemon==2.2.4
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
rsa==4.6
scikit-learn==0.23.1
scipy==1.5.1
six==1.15.0
sklearn==0.0
threadpoolctl==2.1.0
tornado==5.1.1
uritemplate==3.0.1
urllib3==1.25.9
